.dia{
    font-family: 'Dancing Script', cursive;
}



.cartita{
    font-family: 'Josefin Sans', sans-serif;
    height: 3rem;
    width: 20rem;
    -webkit-box-shadow: 9px 10px 5px 0px rgba(102,102,102,0.48);
    -moz-box-shadow: 9px 10px 5px 0px rgba(102,102,102,0.48);
    box-shadow: 9px 10px 5px 0px rgba(102,102,102,0.48);
}

.contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.switch{
    background-color:#8f6277 !important;
    margin-top: 1rem;
}

.boton{
    background-color: #fabfb7 !important;
    margin-bottom: 1.5rem;
}

.boton:hover{
    background-color: #8f6277 !important;
}

.numero1{
    background-color: #fbf8cd6b !important;
}

.numero2{
    background-color:  #c3f9ea2c !important;
}

.numero3{
    background-color:  #e5ffe26b !important;
}

.oscuro{
    background-color: black;
    color:white
}

#au{
    margin:2rem;

}